
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using GiftedCenterProject.Data
@model List<Lecturer>

<div class="container-fluid">
    <div class="row">
        <h4 class="text-danger ml-3 mb-4">GIẢNG VIÊN</h4>
    </div>
    <div class="row">
        <div class="form-group col-md-6 padd-0">
            <input class="form-control" placeholder="Nhập tên giáo viên" />
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary">
                <i class="fa fa-search"></i>
                Tìm kiếm
            </button>

            <button class="btn btn-success" >
                <i class="fa fa-plus"></i>
                Giảng viên
            </button>

            <button class="btn btn-warning">
                <i class="fa fa-sign-out-alt"></i>
                Xuất file
            </button>
        </div>

    </div>
    <div class="cus-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">Tên giáo viên</th>
                    <th class="text-center">Điện thoại</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Mô tả chung</th>
                    <th class="text-center">Ngày tạo</th>
                    <th class="text-center">Thao tác   </th>
                    <th><input type="checkbox" /></th>
                </tr>
            </thead>
            @{
                foreach (Lecturer lec in Model)
                {
                    <tr>
                        <td class="text-center tr-detail-item" style="cursor: pointer; color: #1b6aaa; width: 165px;">@lec.Name</td>
                        <td class="text-center" style="width: 115px;">@lec.phoneNumber</td>
                        <td class="text-center" style="width: 230px;">@lec.Email</td>
                        <td class="text-center">@lec.detailDescription</td>
                        <td class="text-center" style="width: 90px;">@lec.createDate</td>
                        <td class="text-center" style="width: 110px;">
                            <i class="fa fa-share" title="Xem chi tiết" style="color: lightgreen;"></i>
                            &nbsp; &nbsp;<i class="fa fa-edit fa-sm " title="Sửa giáo viên" style="color: blue;"></i>
                            &nbsp; &nbsp;<i class="fa fa-trash" title="Xóa giáo viên" style="color: red;"></i>
                        </td>
                        <td>
                            <input type="checkbox" />
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>








